// src/components/successPage.scss
.property-image {
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  
  .container {
    padding-top: 30px;
    background-color: bisque;
  }
  
  .btn-light {
    text-decoration: none;
  }
  
